@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .loader {
        @apply w-14 h-14 aspect-square grid border-b-4 border-orange-400 rounded-full animate-one-turn-1;
    } */
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: rgba(255, 110, 57, 0.541);
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}